.footer{
  text-align: center;
  padding: 26px 0;
  background-size: contain;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #4caf50;
}

.footer a{
  color: #4caf50;
  text-decoration: none;
  font-weight: 700;
}
